[Desktop Entry]
Version=1.0
Name=Pardus Pen
Name[tr]=Pardus Kalem
Type=Application
Comment=Screen Drawing Tool
Comment[tr]=Ekran Çizim Aracı
Terminal=false
Exec=/usr/bin/pardus-pen
Icon=/usr/share/pardus/pardus-pen/parduspen.svg
Categories=Qt;Graphics;
GenericName=Screen Drawing Tool
GenericName[tr]=Ekran Çizim Aracı
