Source: pardus-pen
Section: education
Priority: optional
Maintainer: Ali Rıza Keskin <ali.riza.keskin@pardus.org.tr>
Build-Depends: debhelper (>= 9), qtbase5-dev
Standards-Version: 3.9.6
Homepage: https://www.pardus.org.tr

Package: pardus-pen
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5svg5, scrot
Description: Pardus Sanal Kalem
 Ekrana çizim yapmak için rahat kullanımlı, hızlı bir araç.
